<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="./css/style.css" </head>

<body>
  <header class="wrapper">
    <h1><%= pageTitle %></h1>
  </header>


  <main class="wrapper">
    <section id="articles">

      <div id="container">
        <% articles.forEach(function(article) { %>
        <div class="article-container">
          <div class="img-container">
            <img src="<%= article.image %>" alt="image">
          </div>

          <p class="title"><%= article.title %></p>
          <p class="description"> <%= article.description %></p>
        </div>

        <% }); %>
      </div>
    </section>
  </main>
</body>

</html>